@model IEnumerable<Novelle_Hjemmeside.Models.NovelleModel>
@{
    ViewBag.Title = "NovelleList";
}

<h2 style="text-align:center">NovelleList</h2>

<table class="table">

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <br />
                        @Html.ActionLink(@item.NovelleNavn, "Novel", "Novelle", @item, null)

                    </td>
                    <td style="text-align:end" width="350">
                        <br />
                        @item.N_Username, @item.N_Date.Date.ToShortDateString()

                    </td>
                </tr>
            }

</table>
