@model Novelle_Hjemmeside.Models.UserModel
@{
    ViewBag.Title = "Login";
}

<h2 style="text-align:center">Login</h2>

<form action="~/Bruger/Login" method="post">
    <table>
        <tr>
            <td>
                Username:
                <input type="text" title="Username" name="UserName" />
                <br />
                Password:
                <input type="password" title="Password" name="PassWord" />
                <br />
                <input type="submit" title="Login" value="Login" style="margin-left:120px" />
            </td>
        </tr>
    </table>
</form>