@model IEnumerable<Novelle_Hjemmeside.Models.NovelleModel>
@{
    ViewBag.Title = "Index";
}

<div class="RegisterBox">
    <h2 class="RegisterTxt">Hvorfor er du ikke logget ind? Log ind her!</h2>
</div>
<div class="RandomNovelBox">

</div>
